:root{
    --IRIS: #4D5AE5;
    --NAVY-BLUE: #2E2F42;
    --WHITE: #FFF;
    --SLATE: #434455;
    --CLOUD: #F4F4FD;
} 
    /* General Style */
body{
    font-family: "Roboto", sans-serif;
}
.link{
    text-decoration: none;
    color: var(--NAVY-BLUE);
    padding: 0;
    margin: 0;
}
.list{
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    color: var(--SLATE);
}
h2{
    text-align: center;
    color: var(--NAVY-BLUE);
}
h3 {
    color: var(--NAVY-BLUE);
}   /* End of General Style */


    /* Header Section (NAV) */
.header-logo{
    color: var(--NAVY-BLUE);
}
.header-logo span{
    color: var(--IRIS);
}
.header-logo:hover{
    color: goldenrod;
}
.link:hover{
    color: goldenrod;
}   /* End of Header Section (NAV) */


    /* Benefit Section */
h1{
    text-align: center;
}
.benefit-title {
    color: var(--WHITE);
    background-color: var(--NAVY-BLUE);
}
.button {
    color: var(--WHITE);
    background-color: var(--IRIS);
    border: 1px solid var(--CLOUD);
    border-radius: 25px;
}
.button:hover{
    background-color: goldenrod;
}   /* End Benefit Section */


    /* We Do Section */

    /* End of We Do Section */


    /* Team Section */

    /* End of Team Section */


    /* Footer Section */
.footer{
    background-color: var(--NAVY-BLUE);
 }   
.footer-logo {
    text-decoration: none;
    color: var(--CLOUD);
}
.footer-text{
    color: var(--CLOUD);
}
.footer-logo span {
    color: var(--IRIS);
}
.footer-logo:hover {
    color: goldenrod;
}
    /* End of Footer Section */